body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}
header {
  background-color: #4caf50;
  color: white;
  padding: 15px;
  text-align: center;
}
main {
  padding: 20px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: 0.2s ease;
  position: absolute;
  right: 42%;
  top: 40%;
}
.btn:hover {
  background-color: #45a049;
  transition: 0.2s ease;
}

.sobreProjeto {
  width: 322px;
}

.sectionSobre {
  position: absolute;
  left: 300px;
}

.sectionFunc {
  position: absolute;
  right: 280px;
  top: 18%;
}

.textoBaixo {
  position: absolute;
  top: 50%;
  right: 43.5%;
}
